## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [331]:
import pandas as pd

df = pd.read_csv('../weather-raw.csv')
df.head()

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [313]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
id         22 non-null object
year       22 non-null int64
month      22 non-null int64
element    22 non-null object
d1         2 non-null float64
d2         4 non-null float64
d3         4 non-null float64
d4         2 non-null float64
d5         8 non-null float64
d6         2 non-null float64
d7         2 non-null float64
d8         2 non-null float64
d9         0 non-null float64
d10        2 non-null float64
d11        2 non-null float64
d12        0 non-null float64
d13        2 non-null float64
d14        4 non-null float64
d15        2 non-null float64
d16        2 non-null float64
d17        2 non-null float64
d18        0 non-null float64
d19        0 non-null float64
d20        0 non-null float64
d21        0 non-null float64
d22        0 non-null float64
d23        4 non-null float64
d24        0 non-null float64
d25        2 non-null float64
d26        2 non-null float64
d27        6 non-null float64
d28        2 non-null float64
d29        4 non-null float64
d30        2 non-null float64
d31        2 non-null float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [312]:
print(len(df))
null_cols = df.isnull().sum()
null_cols[null_cols > 0]

22

d1     20
d2     18
d3     18
d4     20
d5     14
d6     20
d7     20
d8     20
d9     22
d10    20
d11    20
d12    22
d13    20
d14    18
d15    20
d16    20
d17    20
d18    22
d19    22
d20    22
d21    22
d22    22
d23    18
d24    22
d25    20
d26    20
d27    16
d28    20
d29    18
d30    20
d31    20
dtype: int64

In [314]:
drop_cols = null_cols[null_cols > 21].index
df = df.drop(drop_cols, axis = 1)

In [315]:
print(drop_cols)

Index(['d9', 'd12', 'd18', 'd19', 'd20', 'd21', 'd22', 'd24'], dtype='object')

In [316]:
df

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d16,d17,d23,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,31.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.5,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,NaN,15.0,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [317]:
import datetime

In [318]:
date_new = df['year'].astype(str) + '-' + df['month'].astype(str)

df.insert(3, 'Year-Month', date_new)
df

,id,year,month,Year-Month,element,d1,d2,d3,d4,d5,...,d16,d17,d23,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,2010-1,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,2010-1,tmin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,2010-2,tmax,NaN,27.3,24.1,NaN,NaN,...,NaN,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,2010-2,tmin,NaN,14.4,14.4,NaN,NaN,...,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,2010-3,tmax,NaN,NaN,NaN,NaN,32.1,...,31.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,2010-3,tmin,NaN,NaN,NaN,NaN,14.2,...,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,2010-4,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,2010-4,tmin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,2010-5,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,2010-5,tmin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,2010-6,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,2010-6,tmin,NaN,NaN,NaN,NaN,NaN,...,NaN,17.5,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,2010-7,tmax,NaN,NaN,28.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,2010-7,tmin,NaN,NaN,17.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,2010-8,tmax,NaN,NaN,NaN,NaN,29.6,...,NaN,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,2010-8,tmin,NaN,NaN,NaN,NaN,15.8,...,NaN,NaN,15.0,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,2010-10,tmax,NaN,NaN,NaN,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,2010-10,tmin,NaN,NaN,NaN,NaN,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,2010-11,tmax,NaN,31.3,NaN,27.2,26.3,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,2010-11,tmin,NaN,16.3,NaN,12.0,7.9,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,2010-12,tmax,29.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,2010-12,tmin,13.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [319]:
list = []
for x in range(1, 32):
    if ("d" + str(x)) not in drop_cols:
        list.append("d" + str(x))
print(list)

['d1', 'd2', 'd3', 'd4', 'd5', 'd6', 'd7', 'd8', 'd10', 'd11', 'd13', 'd14', 'd15', 'd16', 'd17', 'd23', 'd25', 'd26', 'd27', 'd28', 'd29', 'd30', 'd31']

In [320]:
df_numeric = df[list]
df_numeric

,d1,d2,d3,d4,d5,d6,d7,d8,d10,d11,...,d16,d17,d23,d25,d26,d27,d28,d29,d30,d31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,NaN,29.7,...,NaN,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,NaN,13.4,...,NaN,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,34.5,NaN,...,31.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,16.8,NaN,...,17.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,17.5,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,NaN,NaN,...,NaN,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,NaN,NaN,...,NaN,NaN,15.0,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
df_numeric['mean'] = df_numeric.mean(axis=1)
df_numeric.round(1)

# df['mean'] = df.mean(axis=1)
# df

/Users/svenja/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,d1,d2,d3,d4,d5,d6,d7,d8,d10,d11,...,d17,d23,d25,d26,d27,d28,d29,d30,d31,mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN,27.8
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN,14.5
2,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,NaN,29.7,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8
3,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,NaN,13.4,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.2
4,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,34.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.6
5,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,16.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.2
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN,36.3
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,16.7
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN,33.2
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN,18.2
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN,29.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,17.8
12,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.2
13,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
14,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,NaN,NaN,...,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4,28.3
15,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,NaN,NaN,...,NaN,15.0,15.6,NaN,NaN,NaN,15.3,NaN,15.4,15.8
16,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN,28.9
17,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,13.1
18,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN,28.1
19,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN,12.5
20,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.8
21,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2

In [322]:
df_tmax = df_numeric[::2]
df_tmax.round(1)

,d1,d2,d3,d4,d5,d6,d7,d8,d10,d11,...,d17,d23,d25,d26,d27,d28,d29,d30,d31,mean
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN,27.8
2,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,NaN,29.7,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8
4,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,34.5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.6
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN,36.3
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN,33.2
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN,29.0
12,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.2
14,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,NaN,NaN,...,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4,28.3
16,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN,28.9
18,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN,28.1
20,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.8

In [323]:
df_tmax_mean = df_tmax[['mean']]
df_tmax_mean = df_tmax_mean.reset_index(drop=True)
df_tmax_mean

         mean
0   27.800000
1   27.750000
2   32.566667
3   36.300000
4   33.200000
5   29.050000
6   29.250000
7   28.271429
8   28.900000
9   28.120000
10  28.850000

In [324]:
df_tmin = df_numeric[1::2]
df_tmin.round(1)

,d1,d2,d3,d4,d5,d6,d7,d8,d10,d11,...,d17,d23,d25,d26,d27,d28,d29,d30,d31,mean
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN,14.5
3,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,NaN,13.4,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.2
5,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,16.8,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.2
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN,16.7
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN,18.2
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.5,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,17.8
13,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0
15,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,NaN,NaN,...,NaN,15.0,15.6,NaN,NaN,NaN,15.3,NaN,15.4,15.8
17,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN,13.1
19,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN,12.5
21,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.2

In [325]:
df_tmin_mean = df_tmin[['mean']]
df_tmin_mean = df_tmin_mean.reset_index(drop=True)
df_tmin_mean

         mean
0   14.500000
1   13.225000
2   16.200000
3   16.700000
4   18.200000
5   17.750000
6   17.000000
7   15.842857
8   13.080000
9   12.500000
10  12.150000

In [326]:
df_half = df[::2]
df_half

,id,year,month,Year-Month,element,d1,d2,d3,d4,d5,...,d16,d17,d23,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,2010-1,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
2,MX17004,2010,2,2010-2,tmax,NaN,27.3,24.1,NaN,NaN,...,NaN,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,2010-3,tmax,NaN,NaN,NaN,NaN,32.1,...,31.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,2010-4,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
8,MX17004,2010,5,2010-5,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,2010-6,tmax,NaN,NaN,NaN,NaN,NaN,...,NaN,28.0,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
12,MX17004,2010,7,2010-7,tmax,NaN,NaN,28.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,2010-8,tmax,NaN,NaN,NaN,NaN,29.6,...,NaN,NaN,26.4,29.7,NaN,NaN,NaN,28.0,NaN,25.4
16,MX17004,2010,10,2010-10,tmax,NaN,NaN,NaN,NaN,27.0,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
18,MX17004,2010,11,2010-11,tmax,NaN,31.3,NaN,27.2,26.3,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
20,MX17004,2010,12,2010-12,tmax,29.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [327]:
df_new = df_half[['id', 'Year-Month']]
df_new = df_new.reset_index(drop=True)
df_new

         id Year-Month
0   MX17004     2010-1
1   MX17004     2010-2
2   MX17004     2010-3
3   MX17004     2010-4
4   MX17004     2010-5
5   MX17004     2010-6
6   MX17004     2010-7
7   MX17004     2010-8
8   MX17004    2010-10
9   MX17004    2010-11
10  MX17004    2010-12

In [328]:
# df_col = pd.concat([df1,df2], axis=1)
# df_col

df_new2 = pd.concat([df_new, df_tmax_mean, df_tmin_mean], axis=1)
df_new2[['id', 'Year-Month', 'mean', 'mean']]
df_new2.round(1)

         id Year-Month  mean  mean
0   MX17004     2010-1  27.8  14.5
1   MX17004     2010-2  27.8  13.2
2   MX17004     2010-3  32.6  16.2
3   MX17004     2010-4  36.3  16.7
4   MX17004     2010-5  33.2  18.2
5   MX17004     2010-6  29.0  17.8
6   MX17004     2010-7  29.2  17.0
7   MX17004     2010-8  28.3  15.8
8   MX17004    2010-10  28.9  13.1
9   MX17004    2010-11  28.1  12.5
10  MX17004    2010-12  28.8  12.2

In [329]:
df_new2 = df_new2.set_axis(['ID', 'Year-Month', 'T max mean', 'T min mean'], axis=1, inplace=False)
df_new2.round(1)

         ID Year-Month  T max mean  T min mean
0   MX17004     2010-1        27.8        14.5
1   MX17004     2010-2        27.8        13.2
2   MX17004     2010-3        32.6        16.2
3   MX17004     2010-4        36.3        16.7
4   MX17004     2010-5        33.2        18.2
5   MX17004     2010-6        29.0        17.8
6   MX17004     2010-7        29.2        17.0
7   MX17004     2010-8        28.3        15.8
8   MX17004    2010-10        28.9        13.1
9   MX17004    2010-11        28.1        12.5
10  MX17004    2010-12        28.8        12.2